.container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid var(--form-text-color);
}

.input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: larger;
    width: 100%;
}